/* カードの基本形（レイアウトのみ） */
.card {
    border: 1px solid #999;
    border-radius: 6px;
    width: 60px;
    height: 90px;
    aspect-ratio: 2 / 3;
    flex-shrink: 0;
    
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-size: 1.4em;
    font-weight: bold;
    user-select: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.interactive {
    cursor: grab;
}
.interactive:hover {
    transform: translateY(-5px);
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.3);
}
.interactive:active {
    cursor: grabbing;
}

/* 赤いカード */
.red {
    color: red;
}

/* 黒いカード */
.black {
    color: black;
}

/* 選択されている時の状態 */
.selected {
    background-color: #e1f5fe;
    border-color: #039be5;
    transform: translateY(-15px) !important;
    box-shadow: 0 0 10px #039be5;
    z-index: 10;
}